/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/

/* Body and structure
-------------------------------------------------- */
h2.team-name {
    margin:0px;
}

.nav > li {
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
}

img.team-logo {
    padding-left: 15px;
}
body {
    position: relative;
}


section {
    padding-top: 60px;
}

section > .row {
    margin-bottom: 10px;
}

.row-win {
    background-color: #efe;
}

.row-loss {
    background-color: #fee;
}

.epigram {
    font-size: 11px;
    color: #999;
    font-style: italic;
    margin-top: 10px;
}

