/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/

/* Body and structure
-------------------------------------------------- */
h2.team-name {
    margin:0px;
}

footer {
     font-size: 75%;
}

.nav > li {
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
}

img.team-logo {
    padding-left: 15px;
}
body {
    position: relative;
}


section {
    padding-top: 60px;
}

section > .row {
    margin-bottom: 10px;
}

.row-win {
    background-color: #efe;
}

.row-loss {
    background-color: #fee;
}

.epigram {
    font-size: 11px;
    color: #dde;
    text-shadow: 1px 1px #336;
    font-style: italic;
    margin-top: 10px;
}

.cool-gradient {

background: -moz-linear-gradient(45deg, #002 0%, #33e 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#002), color-stop(100%,#33e));
background: -webkit-linear-gradient(45deg, #002 0%,#33e 100%);
background: -o-linear-gradient(45deg, #002 0%,#33e 100%);
background: -ms-linear-gradient(45deg, #002 0%,#33e 100%);
background: linear-gradient(45deg, #002 0%,#33e 100%);
color: white;
}

