<!DOCTYPE html>
<html lang="en">
    {{> head}}
<body style="padding-top: 50px;">
    {{> navbar}}
    {{> epigram}}
<div class="container-fluid" style="min-height:400px">
    <div class="row-fluid">
        <div class="span10 offset1">
            <h1 style=" font-size: 4em; padding-top: 50px; padding-bottom: 40px; ">
                404 Not found
            </h1>

            <p style=" font-size: 4.5em; line-height: 1em; font-weight: bolder; color: blue; letter-spacing: -5px;">
                There must be some kind of way out of here<br/>
                Said the joker to the thief</p>

            <p style=" font-size: 4.5em; line-height: 1em; font-weight: bolder; color: blue; letter-spacing: -5px;">
                There's too much
                confusion<br/>
                I can't get no relief</p>
        </div>
    </div>
</div>
    {{> footer }}
</body>
</html>