<!DOCTYPE html>
<html lang="en">
    {{> head}}
<body style="padding-top: 50px;">
    {{> navbar}}
<div class="container-fluid cool-gradient">
    <div class="row-fluid">
        <div class="span12">
            <h2 style="font-size: 144px; line-height: 120%;">
                Deep Fij
            </h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2"><image style="align:center;" src="{{ctx}}/images/zeke.jpg" /><h5 style="text-align:center;">Our satisfied user</h5></div>
        <div class="span9">
            <p>Deep Fij is a side project of a long time college basketball fan and computer programmer.</p>
            <p>While nothing would please him more than providing useful, entertaining and enlightening information
            about college basketball to hosts of fans, he has no illusion about the likelihood of that, and if Google
            Analytics is he appears to be spot on.</p><p>At this point we have one known satisfied user</p>

            <p>Because of this, it often appears as if the site has been abandoned.  Certain obvious expected
            features either are broken or have not yet been implemented.  Don't worry -- work is proceeding just very slowly.</p>
            <p>Technical issues.  The software is written in Scala, using the Scalatra web framework with Mustache for templating
            running on a Tomcat7 server..</p>
        </div>
    </div>
</div>
<div class="container-fluid cool-gradient">
    {{> footer }}
</div>
</body>
</html>