<!DOCTYPE html>
<html lang="en">
{{> head}}
<body style="padding-top: 50px;">
{{> navbar}}
<div class="container">
    {{> epigram}}
    <div class="row">
        <div class="span12">
            <h1>
                {{name}}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            {{#standings}}
            <img src="{{logoOpt}}"/>
            {{/standings}}
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <table class="table table-bordered table-condensed" style="table-layout: fixed;">
                <tbody>
                {{#standings}}
                <tr>

                    <td style="text-align: center; width:3em; overflow:hidden;">
                        {{#conferenceRecord}}
                        ({{won}}-{{lost}})
                        {{/conferenceRecord}}
                    </td>
                    <td style="text-align: center; width:3em; overflow:hidden;">
                        {{#record}}
                        ({{won}}-{{lost}})
                        {{/record}}
                    </td>
                    <td style="text-align: left;  width:24em; overflow:hidden;">
                        <a href="{{key}}">{{name}} {{nicknameOpt}}</a>
                    </td>
                </tr>
                {{/standings}}
                </tbody>
            </table>
        </div>
    </div>

    {{> footer}}
</div>
</body>
</html>
