<!DOCTYPE html>
<html lang="en">
    {{> head}}
<body style="padding-top: 50px;">
    {{> navbar}}
    {{> epigram}}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span3">
                        <a href="{{ctx}}/date/{{prevYyyymmdd}}">
                            <h4>&lt; {{prevDate}}</h4>
                        </a>
                    </div>
                    <div class="span6"><h2>{{date}}</h2></div>
                    <div class="span3">
                        <a href="{{ctx}}/date/{{nextYyyymmdd}}">
                            <h4>&lt; {{nextDate}}</h4>
                        </a>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span3"></div>
                    {{#results}}<h3>Results</h3>{{/results}}</div>
            </div>
            <div class="row-fluid">
                <div class="span3"></div>
                {{#games}}<h3>Games</h3>{{/games}}
                </div>
        </div>
        <div class="span2">{{> adsense}}</div>
    </div>
</div>

</div>
</div>

    {{> footer }}
</body>
</html>