<!DOCTYPE html>
<html lang="en">
    {{> head}}
<body style="padding-top: 50px;">
    {{> navbar}}
    {{> epigram}}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span3">
                        <a href="{{ctx}}/date/{{prevYyyymmdd}}">
                            <h4 style="text-align:right;">&lt;&lt; {{prevDate}}</h4>
                        </a>
                    </div>
                    <div class="span6"><h4 style="text-align:center;">{{date}}</h4></div>
                    <div class="span3">
                        <a href="{{ctx}}/date/{{nextYyyymmdd}}">
                            <h4 style="text-align:left;">{{nextDate}} &gt;&gt;</h4>
                        </a>
                    </div>
                </div>
                {{#hasResults}}
                    <div class="row-fluid">
                        <div class="span6 offset3">
                            <h3>Results</h3>
                            <table class="table">
                                <tbody>
                                    {{#results}}
                                    <tr>
                                        <td>{{#awayTeam}}<a href="{{ctx}}/team/{{key}}"
                                                            style="padding-right: .66em;">{{name}}</a>{{#record}}
                                            ({{won}}-{{lost}}){{/record}}{{/awayTeam}} </td>
                                        <td>{{#result}}{{awayScore}}{{/result}}</td>
                                        <td>{{#homeTeam}}<a href="{{ctx}}/team/{{key}}"
                                                            style="padding-right: .66em;">{{name}}</a>{{#record}}
                                            ({{won}}-{{lost}}){{/record}}{{/homeTeam}} </td>
                                        <td>{{#result}}{{homeScore}}{{/result}}</td>
                                    </tr>
                                    {{/results}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {{/hasResults}}
                {{#hasGames}}
                    <div class="row-fluid">
                        <div class="span10 offset1">
                            <h3>Games</h3>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th style="text-align:center">Away</th>
                                    <th style="text-align:center">Home</th>
                                    <th style="text-align:center">Naive Point Spread</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {{#games}}
                                    <tr>
                                        <td class="{{awayClass}}">{{#awayTeam}}<a href="{{ctx}}/team/{{key}}"
                                                                                  style="padding-right: .66em;">{{name}}</a>{{#record}}
                                            ({{won}}-{{lost}}){{/record}}{{/awayTeam}} </td>

                                        <td class="{{homeClass}}">{{#homeTeam}}<a href="{{ctx}}/team/{{key}}"
                                                                                  style="padding-right: .66em;">{{name}}</a>{{#record}}
                                            ({{won}}-{{lost}}){{/record}}{{/homeTeam}} </td>
                                        <td style="text-align:right">+ {{spread}}</td>
                                    </tr>
                                    {{/games}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {{/hasGames}}
            </div>
        </div>
        <div class="span2">{{> adsense}}</div>
    </div>
</div>
    {{> footer }}
</body>
</html>