<div class="container-fluid cool-gradient"
     style="margin-bottom:15px;">
    <div class="row-fluid">
        <div class="span12">
            {{#quote}}
                <p class="epigram">{{quote}}</p>
            {{/quote}}
        </div>
    </div>
</div>
