<div class="container-fluid cool-gradient"
     style="margin-bottom:15px;">
    <div class="row-fluid">
        <div class="span12">
            <p class="epigram">How bad it gets you can't imagine; the burning wax, the breath of reptiles.</p>
        </div>
    </div>
</div>
