<div class="container-fluid cool-gradient">
    <div class="row-fluid">
        <footer class="footer">
            <h6>Copyright 2007-2013 fijimf.com Contact us at <a href="mailto:deepfij@gmail.com">deepfij@gmail.com</a>
            </h6>
        </footer>
    </div>
</div>