<!DOCTYPE html>
<html lang="en">
    {{> head}}
<body style="padding-top: 50px;">
    {{> navbar}}
    {{> epigram}}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10">
            <div class="container-fluid">
                <h3>Cool d3.js graphs</h3>

                <div id="graphPanel">

                </div>
                <script>
                    function loadGameData() {
                    $.get("/api/games", { },
                    function (stat) {
                    var data = stat;
                    console.log(data)
                    var chart = d3.select("#graphPanel").append("table")


                    chart.selectAll("tbody tr").data(data.teams).enter().append("tr").selectAll("td").data(function(d,i) {return d.games;}).enter()
                    .append("td")
                    .attr("style", function(d,i) { if (d.score>d.oppScore) {return "background-color:#bfb;";} else {return "background-color:#fbb;";}}).append("img").attr("src", function(d,i) {return d.opponentLogo;})



                    });
                    }

                    loadGameData();
                </script>
            </div>
        </div>
        <div class="span2">{{> adsense}}</div>
    </div>
</div>

    {{> footer }}
</body>
</html>