<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{{ctx}}/"><img src="{{ctx}}/images/deepfij-tiny.png"/> </a>
            <ul class="nav">
                <li class="active">
                    <a href="{{ctx}}/">Home</a>
                </li>
                <li>
                    <a href="{{ctx}}/admin">Admin</a>
                </li>
                <li>
                    <a href="{{ctx}}/about">About</a>
                </li>
            </ul>
            <form method="get" class="navbar-search pull-left" style="margin-top: 12px;" action="{{ctx}}/search">
                <input type="text" name="q" class="search-query" placeholder="Team, Conference, Statistic..."
                       style="font-size: 16px; line-height: 20px;"/>
            </form>
            {{#user}}
                <ul class="nav pull-right">
                    <li>
                        <a href="{{ctx}}/user">
                            {{name}}
                        </a>
                    </li>
                    <li>
                        <a href="{{ctx}}/logout">Logout</a>
                    </li>
                    <li>
                        <a href="http://www.cafepress.com/fijimf">Shop</a>
                    </li>

                </ul>
            {{/user}}
            {{^user}}
                <ul class="nav pull-right">
                    <li>
                        <a href="{{ctx}}/login">Login</a>
                    </li>
                    <li>
                        <a href="{{ctx}}/register">Register</a>
                    </li>
                </ul>
            {{/user}}
        </div>
    </div>
</div>
