<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Quotes</title>
    <script src="/scripts/jquery-1.7.1.min.js"></script>
    <script src="/scripts/bootstrap-colorpicker.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/quoteloader.js"></script>
    <script src="/scripts/statLoader.js"></script>
    <script src="/scripts/statbubble.js"></script>
    <script src="/scripts/d3.v2.min.js"></script>
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster"/>
    <link type="text/css" rel="stylesheet" href="/style/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/style/colorpicker.css"/>
    <link type="text/css" rel="stylesheet" href="/style/deepfij.css"/>
    <link type="image/x-icon" rel="shortcut icon" href="assets/ico/favicon.ico"/>
</head>

<body style="padding-top: 50px;">
{{> navbar}}
<div class="container">
    {{> epigram}}
    <div class="row">
        <div class="span12">
            <h1>New Quote</h1>
            <form class="well form-horizontal" action="/quote/new" method="post">
                <label>Quote</label><input type="text" class="span10" name=quote placeholder="Go on! Stick it where it hurts!"/>
                <label>Source</label><input type="text" class="span6" name="source" placeholder="Ian Dury"/>
                <label>URL</label><input type="text" class="span4" name="url" placeholder="www.someexample.com"/>
                <button type="submit" class="btn">Add Quote</button>
            </form>
            <h1>Quotes</h1>
            <table class="table table-bordered table-condensed" style="table-layout: fixed;">
                <thead>
                <tr>
                    <th style="width: 1em;" rowspan="2">ID</th>
                    <th colspan="2">Quote</th>
                    <th style="width: 5em;"></th>
                </tr>
                <tr>
                    <th style="width: 12em;" >Source</th>
                    <th>URL</th>
                    <th style="width: 5em;"></th>
                </tr>
                </thead>
                <tbody>
                {{#quotes}}
                <tr>
                    <td style="width: 1em;" rowspan="2">{{id}}</td>
                    <td colspan="2">{{quote}}</td>
                    <td style="width: 5em;" >Edit</td>
                </tr>
                <tr>
                    <td style="width: 12em;" >{{source}}</td>
                    <td><a href="{{url}}">{{url}}</a></td>
                    <td style="width: 5em;">Delete</td>
                </tr>
                {{/quotes}}
                </tbody>
            </table>
        </div>
    </div>
    <footer class="footer">
        <p>
            Copyright 2007-2012 Jim Frohnhofer
        </p>
    </footer>
</div>
</body>
</html>