<!DOCTYPE html>
<html lang="en">
    {{> head}}
<body style="padding-top: 50px;">
    {{> navbar}}
    {{> epigram}}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10">
            <div class="container-fluid">
                <h1>{{name}}</h1>
                <style>
                    .bar rect {
                    fill: steelblue;
                    }

                    .axis text {
                    font: 10px sans-serif;
                    }

                    .axis path, .axis line {
                    fill: none;
                    stroke: #000;
                    shape-rendering: crispEdges;
                    }

                    .area {
                    fill: steelblue;
                    }
                </style>

                <div id="graphPanel">

                </div>

                <script>
                    d3.json("{{ctx}}/stat/{{key}}/api", statHistogram)
                </script>
            </div>
        </div>
        <div class="span2">{{> adsense}}</div>
    </div>
</div>

    {{> footer }}
</body>
</html>