<div class="span2" style="border: 1px black solid; background-color: #eef;">
    <h4 style="text-align:center; white-space:nowrap;">{{name}}</h4>

    <h1 style="text-align:center;">{{rank}}</h1>

    <h3 style="text-align:center;">{{value}}</h3>
</div>